@using Assignment2.Models
@model ContactInfo

<div>
    <ul>
        <li>Name: @Model.Name</li>
        <li>Phone Number: @Model.PhoneNumber</li>
        <li>Email: @Model.Email</li>
        <li>Message: @Model.Message</li>
    </ul>
</div>