@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{ FinalProject.Settings settings = ViewBag.Settings; }

@model RecipeModel

<h1>Welcome!</h1>

<div class="card">
    <div class="card-body">
        <div class="card-header">
            <h5 class="card-title">Featured Recipe - @Model.Name</h5>
        </div>
        <p class="card-text">@Model.Description</p>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <h5>Ingredients</h5>
        <ul class="list-group">
            @foreach (string s in Model.Ingredients)
            {
                <li class="list-group-item">@s</li>
            }
        </ul>
    </div>

    <div class="col-6">
        <h5>Directions</h5>
        <ul class="list-group">
            @foreach (string s in Model.Steps)
            {
                <li class="list-group-item">@s</li>
            }
        </ul>
    </div>
</div>

