
@model RecipeModel

<div class="card">
    <div class="card-body">
        <h5>@Model.Name</h5>
        <p>@Model.Description</p>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <h5>Ingredients</h5>
        <ul class="list-group">
            @foreach (string s in Model.Ingredients)
            {
                <li class="list-group-item">@s</li>
            }
        </ul>
    </div>

    <div class="col-6">
        <h5>Directions</h5>
        <ul class="list-group">
            @foreach (string s in Model.Steps)
            {
                <li class="list-group-item">@s</li>
            }
        </ul>
    </div>
</div>